body{
  background-color: #ffffff;
}

nav{
  height: 10vh;
}

ul {
  background-color:#cc5819

}

li {

  padding: 20px;
  list-style: none;
}

a {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
  font-weight: 700;
  font-family: helvetica;

}

a:hover{
  color:#899a45;

}

span{
  color:#343a33;
  margin: 0 100px;
  font-weight: 900;
  font-family: helvetica;

}

header{
  width: 100%;
  height:70vh;
}

.imagenh{
  width:100%;
  height: 62vh;
}

.videoc{
  display: flex;
  justify-content: center;
}
.formu{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img{
  width: 20%;
  height: 10%;
}

.espdiv{
  margin: 3%;
}



footer{
background:#000000;
height: 10vh;
color: #ffffff;
}

.container{
  width: 100%;
}

.containerbox {
  display: flex;

}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.no-wrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}


.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}


.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}
